clear
import sys, os

if sys.stdin is None or sys.stdin.closed:
    sys.stdin = open('CONIN$', 'r')
    sys.stdout = open('CONOUT$', 'w')
    sys.stderr = open('CONOUT$', 'w')


from getpass import getpass


# Login system
username = input("Enter your codename: ")
password = input("Enter your password: ")
if username != "1":
    print("Access denied. Unknown user.")
    exit()
print('Your Nickname:', username)
if password != "1":
    print("Incorrect password. Access denied.")
    exit()
print("Password masked:", '*' * len(password))
print("WELCOME TO FSOCIETY")


#Attack options
attack_type = input("Choose attack type (DDoS/DoS: ")
print("incorect option") if attack_type not in ["DDoS", "DoS"] else None

#DDos attack options
if attack_type == "DDoS":
    target = input("Target URL/IP: ")
    requests = input("Number of requests: ")
    print("DDoS starting...")
    import time 
    time.sleep(5)
    import time
    targets = [
"192.213.123",
"423.342.965",
"123.213.543",
"231.546.876",
"987.654.321",
"159.753.486",
"456.852.963",
"369.258.147",
"147.258.369",
    ]
    
    repeat = 10000000
    for i in range(repeat):
        target = targets[i % len(targets)]
        msg = f"Sending request from {target}"
        print(msg, flush=True)
        time.sleep(0.01)

#DoS attack options
if attack_type == "DoS":
    target = input("Target URL/IP: ")
    requests = input("Number of requests: ")
    print("DoS starting...")
    import time 
    time.sleep(5)    
    import time
    target = target
    repeat = 10000000
    messages = [f"Sending request to {target}" for _ in range(repeat)]

    for msg in messages:
        print(msg, flush=True)
        time.sleep(0.01)
